version: '3'
services:
  application:
    build: .
    ports:
      - "4001:4000"
  postgres:
    image: "postgres:alpine"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=multi_container_application_dev
